main.main
    .nav_main
        .nav_links
            a(href="#") Личные данные
            a(href="#") Мои сервисы
            a(href="#").nav_main_active Мой статус
        span Ваш ID: 1099
        
    section.status
        .status_services
            .status_services_info
                img(src="images/my_status_1.png" alt="")
                p.name Частник
                p.description Это стартовая запись для всех регистрируемых. У вас есть базовые возможности, но множество инструментов достпны только в следующих тарифных планах.
                p.current_tarif Текущий тарифный план
                    
            .status_services_info
                img(src="images/my_status_2.png" alt="")
                p.name Риэлтор, ФЛП
                p.description Больше возможностей заработать, используя инструменты по полной. Например вы можете подключить Автопоиск, использовать ТОП объявления и многое другое.
                p.price_shift Стоимость перехода: Бесплатно
                a.button_demo(href="#") Перейти в демо-версию
            
            .status_services_info
                img(src="images/my_status_3.png" alt="")
                p.name Агентство
                p.description Работа команды, как механизм, должен работать идеально. Управление агентством, объектами, Автопоиском, работа с объектами ваших риэлторов, реклама через ТОП.
                p.price_shift Стоимость перехода: Бесплатно
                a.button_demo(href="#") Перейти в демо-версию
        
    section.status_table
        p.title Тарифные планы
        table.table_scale
            tr
                th Наименование сервиса
                th#package_1 Пакет 1
                th Пакет 2
                th Пакет 3
                th Пакет 4
                th Пакет 5
                th Пакет 6
                th Пакет 7
                th Пакет 8
                th Пакет 9
            tr
                td Тариф, грн.
                td Беспл.
                td 99,00
                td 269,00
                td 538,00
                td 777,00
                td 2490,00
                td 6870,00
                td 10450,00
                td 18900,00
            tr
                td Количество пользователей
                td 1
                td 1
                td 1
                td 2
                td 3-9
                td 10-29
                td 30-49
                td 50-99
                td 100-200
            tr
                td Цена дополнительного пользователя
                td -
                td -
                td -
                td -
                td 259
                td 249
                td 229
                td 209
                td 189
            tr
                td Типы аккаунтов
                td Частник ФЛП
                td Частник ФЛП
                td Частник ФЛП
                td АН
                td АН
                td АН
                td АН
                td АН
                td АН
            tr
                td Ведение своей базы клиентов
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td Автопоиск в аккаунте
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td Автопоиск в сообществе
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td Проверка на наличие телефона в базе
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td Указание количества совладельцев объекта
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
            tr
                td: a(href="#") Показать все сервисы
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
                td 
